<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kbb.com.springscalc"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:restoreAnyVersion="false">
        <activity
            android:name="ua.kbb.com.springscalc.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TeoryData" android:label="Theory"
            android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            </activity>
        <activity android:name="ChamferCalc" android:label="Calculation"
            android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            </activity>
        <activity android:name="Resultcalc" android:screenOrientation="portrait"> <!-- Запрет поворота экрана -->
            </activity>
        <activity android:name="About" android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            </activity>
        <activity android:name="Settings" android:label="Settings"
            android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            </activity>
        <activity android:name="DialogActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" > <!-- Запрет поворота экрана -->
            </activity>
        
    </application>

</manifest>
